.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.cards__title {
  margin: 0;
  margin-bottom: 32px;
  border: #fff;
  color: #fff;
  line-height: 39.84px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.cards__container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 680px;
  min-height: 291px;
  width: 100%;
  user-select: none;
}

.cards__container-item {
  position: relative;
  height: 291px;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.cards__container-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.cards__container-item::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  pointer-events: none; 
}

.cards__container-item:hover::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0));
}

.cards__container-item img.blink {
  animation: blink 300ms ease-in-out 1 forwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .cards__container {
    gap: 2%;
  }
  
  .cards__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .cards__container {
    flex-wrap: wrap;
  }

  .cards__container-item {
    max-width: 140px;
    max-height: 180px;
    margin-bottom: 2%;
  }
}