.footer {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 300ms ease-in-out;
}

.footer_visible {
  animation: visible_footer_animation 300ms ease-in-out 1 forwards;
}

.footer__link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 18.75px; 
  text-decoration: none;
}

@keyframes visible_footer_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 45%;
  }
}

@media screen and (width <= 576px) {
  .footer__link {
    font-size: 14px;
  }
}

@media screen and (width <= 375px) {
  .footer__link {
    font-size: 12px;
  }
}