.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border: 2px rgba(199, 44, 60, 0.5) solid;
  border-radius: 4px;
  max-width: 187px;
  min-height: 62px;
  width: 100%;
}

.logo__text{
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  font-weight: 700;
  color: #C72C3C;
  opacity: 80%;
}

@media screen and (width <= 576px) {
  .logo {
    max-width: 150px;
  }

  .logo__text {
    font-size: 20px;
  }

}

@media screen and (width <= 375px) {
  .logo {
    font-size: 18px;
  }
}