.question {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  max-width: 220px;
  gap: 13px;
  padding: 5px 0;
  flex-direction: column;
  border-radius: 8px;
  border: 1px rgba(255, 255, 255, 0.13) solid;
  width: 100%;
}

.question__title {
  color: #22DAA8;
  line-height: 22.27px;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.question__dots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 21px;  
}

.question__dots-item {
  width: 18px;
  height: 18px;
  border: #22DAA8 1.5px solid;
  border-radius: 100%;
}

.question__dots-item:nth-child(1) {
  background: #22DAA8;
}


@media screen and (width <= 576px) {
  .question {
    max-width: 180px;
    max-height: 60px;
  }

  .question__title {
    font-size: 15px;
  }

  .question__dots-item {
    width: 15px;
    height: 15px;
  }
}

@media screen and (width <= 375px) {
  .footer__link {
    font-size: 12px;
  }
}